---
import BlogTagBadge from "@/components/blog/BlogTagBadge.astro";
import GithubIcon from "@/components/icons/GithubIcon.astro";
import MailIcon from "@/components/icons/MailIcon.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<RootLayout>
  <div class="font-blog container mx-auto min-h-dvh px-4 py-24">
    <header class="typo-content">
      <h1>Blog — My Experiments and Logs</h1>
      <div class="mt-6 flex flex-wrap items-center gap-6">
        <p class="grow text-lg!">
          Notes, thoughts, and records of what I build and explore on the web.
        </p>
        <div class="flex gap-4">
          <GithubIcon />
          <MailIcon />
        </div>
      </div>
    </header>

    <section class="mt-16">
      <div
        class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {
          posts.map((post) => (
            <div class="group border-border flex min-h-55 flex-col overflow-hidden rounded-2xl border bg-white/80 shadow-lg transition-shadow hover:shadow-xl dark:bg-zinc-900/80">
              <a
                href={`/blog/${post.id}/`}
                class="flex h-full flex-col p-6 no-underline"
              >
                {post.data.tags && (
                  <div class="mb-3 flex flex-wrap gap-2">
                    {post.data.tags.map((tag) => (
                      <BlogTagBadge tag={tag} />
                    ))}
                  </div>
                )}
                <h2 class="group-hover:text-brand-red mb-2 line-clamp-2 text-xl font-bold transition-colors">
                  {post.data.title}
                </h2>
                <p class="text-muted-foreground mb-4 line-clamp-3 text-base">
                  {post.data.description}
                </p>
                <div class="mt-auto flex items-center justify-between">
                  <time class="text-muted-foreground text-xs">
                    {post.data.pubDate.toISOString().slice(0, 10)}
                  </time>
                  <div class="flex items-center gap-1">
                    <span class="group-hover:text-brand-mint text-muted-foreground text-xs transition-colors group-hover:underline">
                      Read more
                    </span>
                    <Icon
                      class="group-hover:text-brand-mint text-sm"
                      name="lucide:chevron-right"
                    />
                  </div>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</RootLayout>
