---
import { navigationLinks } from "@/data/navigationLinks";
const pathname = Astro.url.pathname;
---

<style></style>

<aside class="fixed top-1/2 left-0 z-999 -translate-y-1/2 transform">
  <ul class="flex flex-col gap-2">
    {
      navigationLinks.map((item) => {
        const isActive = pathname === item.href;

        return (
          <li>
            <a
              href={item.href}
              rel="noopener noreferrer"
              class:list={[
                "block rounded-xl px-4 py-3 text-sm font-medium transition-all duration-200",
                isActive && "pointer-events-none",
                isActive
                  ? "text-foreground bg-foreground/10 border"
                  : "text-foreground/40 hover:bg-foreground/10 hover:text-foreground",
              ]}
            >
              {item.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</aside>
