---
import BaseLayout from "@/layouts/BaseLayout.astro";
import InteractionStage from "@/layouts/InteractionStage.astro";
---

<BaseLayout title="Hello It's DVMBR" description="DVMBR home">
  <InteractionStage>
    <main>
      <h1>Home</h1>
    </main>
  </InteractionStage>
</BaseLayout>
