---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "../components/BaseBody.astro";

import meImg from "../assets/ghibli.png";
import { Image } from "astro:assets";

import TechStackList from "../components/TechStackList.astro";
import LinkIconList from "../components/LinkIconList.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <BaseBody>
    <main class="bg-space-950 mx-auto h-dvh max-w-sm px-6 py-16">
      <header class="flex flex-col items-center">
        <div
          class="from-brand-mint to-brand-red relative inline-flex rounded-full bg-linear-to-br p-0.5"
        >
          <Image
            src={meImg}
            alt="DVMBR Portrait"
            class="bg-space-950 h-32 w-32 rounded-full object-cover object-center"
          />
          {/* Status badge */}
          <div
            class="absolute right-0 bottom-0 flex translate-x-8 items-center gap-2 text-xs text-white"
          >
            <div class="bg-space-950">
              <span
                class="ring-space-950 bg-brand-mint block h-2.5 w-2.5 animate-pulse rounded-full ring-2"
              ></span>
            </div>
            <span class="text-ink-main/80 font-medium whitespace-nowrap"
              >Available</span
            >
          </div>
        </div>

        <div class="mt-6">
          <h1 class="text-ink-main mb-1 text-2xl font-black tracking-tight">
            DVMBR
          </h1>
          <p class="text-ink-sub text-sm font-medium">Software Engineer</p>
          <p class="text-ink-sub/80 text-xs">Korea, Republic of</p>
        </div>
        <TechStackList />
        <LinkIconList />
        <div></div>
      </header>
    </main>
  </BaseBody>
</html>
