---
import SVGGithub from "../components/SVGGithub.astro";

const today = new Date();
---

<footer
  class="bg-space-950 border-divider flex flex-col items-center justify-center gap-5 border-t px-4 pt-8 pb-32"
>
  <p>
    &copy; {today.getFullYear()}
    <span class="text-brand-red text-shadow-accent-slate text-shadow-lg"
      >dvmbr</span
    >. All rights reserved.
  </p>
  <ul class="flex justify-center">
    <li>
      <SVGGithub />
    </li>
  </ul>
</footer>
