---
import LinkIcon from "./LinkIcon.astro";
import { MessageSquareQuote, Mail } from "@lucide/astro";
import githubMark from "../assets/github-mark/github-mark-white.svg";
import inBug from "../assets/in-logo/InBug-White.png";

type LinkItem =
  | { to: string; label: string; kind: "img"; src: string }
  | { to: string; label: string; kind: "lucide"; Icon: any };

const linkIcons: LinkItem[] = [
  {
    to: "https://github.com/dvmbr",
    label: "github.com/dvmbr",
    kind: "img",
    src: githubMark.src,
  },
  {
    to: "https://dvmbr.tistory.com",
    label: "dvmbr.tistory.com",
    kind: "lucide",
    Icon: MessageSquareQuote,
  },
  {
    to: "mailto:itsdvmbr@gmail.com",
    label: "itsdvmbr@gmail.com",
    kind: "lucide",
    Icon: Mail,
  },
  {
    to: "https://www.linkedin.com/in/jekwang-woo-b876a53a1",
    label: "Dvmbr LinkedIn",
    kind: "img",
    src: inBug.src,
  },
];
---

<ul class="mt-16 grid grid-cols-2 gap-2">
  {
    linkIcons.map((t) => (
      <li class="border-outline border-b">
        <LinkIcon to={t.to} label={t.label}>
          {t.kind === "img" ? (
            <img
              slot="icon"
              src={t.src}
              alt=""
              aria-hidden="true"
              class="h-4 w-4"
            />
          ) : (
            <t.Icon slot="icon" class="h-4 w-4" />
          )}
        </LinkIcon>
      </li>
    ))
  }
</ul>
