---
type Props = {
  to: string;
  label: string;
  sr?: string;
};
const { to, label, sr = label } = Astro.props;
---

<a href={to} target="_blank" class="flex items-center gap-2">
  <span class="sr-only">{sr}</span>
  <slot name="icon" />
  <span class="text-sm">{label}</span>
</a>
