---
import { Icon } from "astro-icon/components";
---

<a
  href="https://github.com/dvmbr"
  target="_blank"
  rel="noopener noreferrer"
  class="text-muted-foreground hover:text-foreground transition hover:-translate-y-0.5"
>
  <Icon name="lucide:github" class="h-8 w-8" />
</a>
