---
import { Icon } from "astro-icon/components";
---

<a
  href="mailto:itsdvmbr@gmail.com"
  class="text-muted-foreground hover:text-foreground transition hover:-translate-y-0.5"
>
  <Icon name="lucide:mail" class="h-8 w-8" />
</a>
