---
import GithubIcon from "@/components/icons/GithubIcon.astro";
import MailIcon from "@/components/icons/MailIcon.astro";
import SideNav from "@/components/navigation/SideNav.astro";
import "@/styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DVMBR HomePage</title>
  </head>
  <body>
    <SideNav />
    <main>
      <slot />
      <footer class="w-full px-4 py-16">
        <div class="flex flex-col items-center gap-6 text-sm">
          <div class="flex items-center gap-6">
            <GithubIcon />
            <MailIcon />
          </div>

          <p class="text-muted-foreground">© 2026 DVMBR</p>
        </div>
      </footer>
    </main>
  </body>
</html>
